.app-survey__response-radios {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
}

.app-survey__response-radio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-survey__response-radio {
  margin-bottom: 0.5rem;
}
