<main class="govuk-main-wrapper" id="main-content" role="main">
  <a href="#" class="govuk-back-link app-back-link" id="back-link">Back</a>
  <h1 class="govuk-heading-xl">Exchange Portal Survey</h1>
  <h2 class="govuk-heading-l">All responses</h2>
  <div id="responses-container"></div>
</main>
