<div class="govuk-width-container app-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <a href="#" class="govuk-back-link app-back-link">Back</a>
    <h1 class="govuk-heading-xl">Exchange Portal Survey Management</h1>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="password">Enter password</label>
        </h2>
        <input class="govuk-input" id="password" name="password" type="password" value="fsdfsdfsd">
      </div>
      <div class="govuk-body" id="error-message"></div>
      <button class="govuk-button" data-module="govuk-button" id="submit-button">
        Submit
      </button>
    </div>
  </main>
</div>
