<div class="govuk-width-container app-container" id="survey">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="app-top-container">
      <a href="#" class="govuk-back-link app-back-link" id="back-link">Back to Portal</a>
      <a href="/authenticate" class="govuk-link govuk-link--no-visited-state app-management-link">Survey Management</a>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl">Exchange Portal Survey</h1>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Contact details
          </h1>
        </legend>
        <div class="govuk-inset-text app-survey__contact-details-message">
          Contact details are optional.
          If you provide contact details, you are consenting to being contacted about your survey response.
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="email-address">
            Email address
          </label>
          <input class="govuk-input govuk-input--width-20" id="email-address" name="email-address"
                 type="text"
                 autocomplete="email"
                 value="test@email.com">
          <div class="govuk-form-group">
            <label class="govuk-label" for="role">
              Role
            </label>
            <select class="govuk-select" id="role" name="role">
              <option value=""></option>
              <option value="product-owner">Product owner</option>
              <option value="delivery-manager">Delivery manager</option>
              <option value="business-analyst">Business analyst</option>
              <option value="software-engineer" selected>Software engineer</option>
              <option value="other">Other</option>
            </select>
          </div>
      </fieldset>
    </div>
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">Questions</h2>
      <div class="app-survey__question">
        <h3 class="govuk-heading-m">How would you rate the experience of locating assets on the Portal?</h3>
        <div class="app-survey__response-radios app-survey__response govuk-!-width-two-thirds">
          <div class="app-survey__response-radio-container">
            <input class="app-survey__response-radio" type="radio" name="question-1" id="question-1-1" value="1" checked>
            <label class="govuk-label--s" for="question-1-1">1</label>
            <label class="govuk-label--s" for="question-1-1">Very difficult</label>
          </div>
          <div class="app-survey__response-radio-container">
            <input class="app-survey__response-radio" type="radio" name="question-1" id="question-1-2" value="2">
            <label class="govuk-label--s" for="question-1-2">2</label>
            <label class="govuk-label--s" for="question-1-2">Difficult</label>
          </div>
          <div class="app-survey__response-radio-container">
            <input class="app-survey__response-radio" type="radio" name="question-1" id="question-1-3" value="3">
            <label class="govuk-label--s" for="question-1-3">3</label>
            <label class="govuk-label--s" for="question-1-3">Neutral</label>
          </div>
          <div class="app-survey__response-radio-container">
            <input class="app-survey__response-radio" type="radio" name="question-1" id="question-1-4" value="4">
            <label class="govuk-label--s" for="question-1-4">4</label>
            <label class="govuk-label--s" for="question-1-4">Easy</label>
          </div>
          <div class="app-survey__response-radio-container">
            <input class="app-survey__response-radio" type="radio" name="question-1" id="question-1-5" value="5">
            <label class="govuk-label--s" for="question-1-5">5</label>
            <label class="govuk-label--s" for="question-1-5">Very easy</label>
          </div>
        </div>
      </div>
      <div class="app-survey__question">
        <h3 class="govuk-heading-m">How would you rate the experience of completing the consume form?</h3>
        <div class="app-survey__response-radios app-survey__response govuk-!-width-two-thirds">
          <div class="app-survey__response-radio-container">
            <input class="app-survey__response-radio" type="radio" name="question-2" id="question-2-1" value="1">
            <label class="govuk-label--s" for="question-2-1">1</label>
            <label class="govuk-label--s" for="question-2-1">Very difficult</label>
          </div>
          <div class="app-survey__response-radio-container">
            <input class="app-survey__response-radio" type="radio" name="question-2" id="question-2-2" value="2">
            <label class="govuk-label--s" for="question-2-2">2</label>
            <label class="govuk-label--s" for="question-2-2">Difficult</label>
          </div>
          <div class="app-survey__response-radio-container">
            <input class="app-survey__response-radio" type="radio" name="question-2" id="question-2-3" value="3" checked>
            <label class="govuk-label--s" for="question-2-3">3</label>
            <label class="govuk-label--s" for="question-2-3">Neutral</label>
          </div>
          <div class="app-survey__response-radio-container">
            <input class="app-survey__response-radio" type="radio" name="question-2" id="question-2-4" value="4">
            <label class="govuk-label--s" for="question-2-4">4</label>
            <label class="govuk-label--s" for="question-2-4">Easy</label>
          </div>
          <div class="app-survey__response-radio-container">
            <input class="app-survey__response-radio" type="radio" name="question-2" id="question-2-5" value="5">
            <label class="govuk-label--s" for="question-2-5">5</label>
            <label class="govuk-label--s" for="question-2-5">Very easy</label>
          </div>
        </div>
      </div>
      <div class="app-survey__question">
        <h3 class="govuk-heading-m">How would you rate the quality of the Portal content?</h3>
        <div class="app-survey__response-radios app-survey__response govuk-!-width-two-thirds">
          <div class="app-survey__response-radio-container">
            <input class="app-survey__response-radio" type="radio" name="question-3" id="question-3-1" value="1">
            <label class="govuk-label--s" for="question-3-1">1</label>
            <label class="govuk-label--s" for="question-3-1">Very difficult</label>
          </div>
          <div class="app-survey__response-radio-container">
            <input class="app-survey__response-radio" type="radio" name="question-3" id="question-3-2" value="2">
            <label class="govuk-label--s" for="question-3-2">2</label>
            <label class="govuk-label--s" for="question-3-2">Difficult</label>
          </div>
          <div class="app-survey__response-radio-container">
            <input class="app-survey__response-radio" type="radio" name="question-3" id="question-3-3" value="3">
            <label class="govuk-label--s" for="question-3-3">3</label>
            <label class="govuk-label--s" for="question-3-3">Neutral</label>
          </div>
          <div class="app-survey__response-radio-container">
            <input class="app-survey__response-radio" type="radio" name="question-3" id="question-3-4" value="4">
            <label class="govuk-label--s" for="question-3-4">4</label>
            <label class="govuk-label--s" for="question-3-4">Easy</label>
          </div>
          <div class="app-survey__response-radio-container">
            <input class="app-survey__response-radio" type="radio" name="question-3" id="question-3-5" value="5" checked>
            <label class="govuk-label--s" for="question-3-5">5</label>
            <label class="govuk-label--s" for="question-3-5">Very easy</label>
          </div>
        </div>
      </div>
      <div class="app-survey__question">
        <h3 class="govuk-heading-m">How would you rate the quality of the Business and Technical documentation on the Portal?</h3>
        <div class="app-survey__response-radios app-survey__response govuk-!-width-two-thirds">
          <div class="app-survey__response-radio-container">
            <input class="app-survey__response-radio" type="radio" name="question-4" id="question-4-1" value="1">
            <label class="govuk-label--s" for="question-4-1">1</label>
            <label class="govuk-label--s" for="question-4-1">Very difficult</label>
          </div>
          <div class="app-survey__response-radio-container">
            <input class="app-survey__response-radio" type="radio" name="question-4" id="question-4-2" value="2" checked>
            <label class="govuk-label--s" for="question-4-2">2</label>
            <label class="govuk-label--s" for="question-4-2">Difficult</label>
          </div>
          <div class="app-survey__response-radio-container">
            <input class="app-survey__response-radio" type="radio" name="question-4" id="question-4-3" value="3">
            <label class="govuk-label--s" for="question-4-3">3</label>
            <label class="govuk-label--s" for="question-4-3">Neutral</label>
          </div>
          <div class="app-survey__response-radio-container">
            <input class="app-survey__response-radio" type="radio" name="question-4" id="question-4-4" value="4">
            <label class="govuk-label--s" for="question-4-4">4</label>
            <label class="govuk-label--s" for="question-4-4">Easy</label>
          </div>
          <div class="app-survey__response-radio-container">
            <input class="app-survey__response-radio" type="radio" name="question-4" id="question-4-5" value="5">
            <label class="govuk-label--s" for="question-4-5">5</label>
            <label class="govuk-label--s" for="question-4-5">Very easy</label>
          </div>
        </div>
      </div>
      <div class="app-survey__feedback">
        <h3 class="govuk-heading-m">Please provide any other feedback or suggestions.</h3>
        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
          <div class="govuk-form-group">
            <textarea class="govuk-textarea govuk-js-character-count app-survey__response app-survey__response-text" id="feedback"
                      name="feedback" rows="5"
                      aria-describedby="feedback-info feedback-hint"></textarea>
          </div>
          <div id="feedback-info" class="govuk-hint govuk-character-count__message">
            You can enter up to 200 characters
          </div>
        </div>
      </div>
      <div class="app-survey__feedback-message">
        <p class="govuk-body" id="survey-feedback"></p>
      </div>
      <div class="app-survey__submit">
        <button class="govuk-button" data-module="govuk-button" id="submit-button">
          Submit
        </button>
      </div>
    </div>
  </main>
</div>
