<div class="govuk-width-container app-container" id="survey-management">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <a href="#" class="govuk-back-link app-back-link" id="back-link">Back</a>
    <h1 class="govuk-heading-xl">Exchange Portal Survey</h1>
    <h2 class="govuk-heading-l">Results</h2>
    <div class="govuk-width-container">
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m">Survey Overview</h3>
        <p class="govuk-body-m">Surveys completed: <span id="number-of-surveys-completed"></span></p>
        <a class="govuk-link govuk-link--no-visited-state govuk-body-m" href="/surveyResponses/all" id="view-all-responses">View all responses</a>
      </div>
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m">Filter results</h3>
        <div class="app-date-container">
          <div class="app-date-container__item">
            <label class="govuk-label" for="start-date">Start date:</label>
            <input class="app-survey-management__date-input" type="date" name="start-date" id="start-date">
          </div>
          <div class="app-date-container__item">
            <label class="govuk-label" for="end-date">End date:</label>
            <input class="app-survey-management__date-input" type="date" name="end-date" id="end-date"><br>
          </div>
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="role">
            Role:
          </label>
          <select class="govuk-select" id="role" name="role">
            <option value=""></option>
            <option value="product-owner">Product owner</option>
            <option value="delivery-manager">Delivery manager</option>
            <option value="business-analyst">Business analyst</option>
            <option value="software-engineer">Software engineer</option>
            <option value="other">Other</option>
          </select>
        </div>
        <div class="app-survey__submit">
          <button class="govuk-button" data-module="govuk-button" id="submit-button">
            Submit
          </button>
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button" id="reset-button">
            Reset
          </button>
        </div>
      </div>
    </div>
    <div class="govuk-width-container">
      <div class="govuk-grid-column-one-half" id="survey-responses"></div>
      <div class="govuk-grid-column-one-half" id="survey-feedback"></div>
    </div>
  </main>
</div>
</body>
