.app-survey-management__date-input {
  margin-bottom: 0.5rem;
}

.app-date-container {
  display: flex;
}

.app-date-container__item {
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.app-all-responses__response-container {
  border: solid 2px #0b0c0c;
  border-radius: 10px;
}

.app-tabs__panel {
  border: none !important;
}
