.app-header {
  border-bottom: 10px solid #1d70b8;
}

.app-header__logo {
  font-weight: 700;
}

.app-container {
  display: flex;
  position: relative;
  min-height: 70vh;
}

.app-back-link {
  margin-bottom: 2em;
}

.app-top-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
